<div class="af-separator"></div>
<div class="af-container-blue">
  <div class="row af-background">
    <div class="col-md-2 vcenter">
      <img class="rounded-circle img-fluid af-photo" src="https://i.imgur.com/tQIRojR.jpg">
      <div class="af-icons text-center">
        <a href="https://www.linkedin.com/in/alexander-fagrell/" class="fa fa-linkedin af-icon" target="_blank"></a>
        <a href="https://github.com/Fagrell" class="fa fa-github af-icon" target="_blank"></a>
        <a href="https://www.freecodecamp.org/fagrell" class="fa fa-free-code-camp af-icon" target="_blank"></a>
        <a href="https://stackoverflow.com/users/5874704/a-fagrell/" class="fa fa-stack-overflow af-icon" target="_blank"></a>
      </div>
    </div>
    <div class="col-md-10 vcenter">
      
      <h1>Who am I?</h1>
      <p>
          My name is Alexander Fagrell and I'm a software developer enthusiast and do not give up until I know the ins and outs of how something works. In addition to software development, I enjoy coaching people, both on a professional as well as a personal level, in order to improve productivity and to create a positive working environment. I'm from Stockholm, Sweden, but currently live and work in London, UK, for a security company as a lead software engineer. 
      </p>
        <strong>These are some of my skills and expertise:</strong>
        <ul>
          <li>Experience in recruiting, hiring, mentoring and managing a team of software engineers to improve their skills and productivity. </li>
          <li>Experience in scoping, planning and prioritisation of key projects as well as suggests and implements architectural design.</li>  
          <li>Experience in monitoring a team's performance as well as conducting code reviews.</li>
          <li>Extensive experience in modern C++(C++11/14/17) software development including STL, Qt (Widget and Quick) and Boost libraries.</li>
          <li>Experience developing multi-threaded cross-platform applications for Windows, Mac, Linux, iOS, Android and QNX 6.X.</li>
          <li>Experience in C, C#, Python and Objective C development</li>
          <li>Experience in CUDA, GPUDirect and OpenGL, especially for video processing.</li>
          <li>MSc degree in Mechatronics</li>
        </ul>
    </div>
  </div>
</div>

<div class="af-container-white">
  <h1 class="text-center">Why blog about Qt?</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>

<div class="af-container-blue" id="section-contact">
  <h1 class="text-center">Contact</h1>
  <form action="mailto:fagrell@outlook.com" method="post" enctype="text/plain">
    <div class="row">
      <div class="col-md-6 form-group">
          <label for="form_name">Firstname *</label>
          <input id="form_name" type="text" name="name" class="form-control" placeholder="Please enter your firstname *" required>
        </div>
       <div class="col-md-6 form-group">
        <label for="form_lastname">Lastname</label>
        <input id="form_lastname" type="text" name="lastname" class="form-control" placeholder="Please enter your lastname">
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 form-group">
        <label for="form_email">Email *</label>
        <input id="form_email" type="email" name="email" class="form-control" placeholder="Please enter your email *" required>
      </div>
       <div class="col-md-6 form-group">
        <label for="form_phone">Phone </label>
        <input id="form_phone" type="tel" name="phone" class="form-control" placeholder="Please enter your phone number">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 form-group">
        <label for="form_message">Message *</label>
        <textarea id="form_message" name="message" class="form-control" placeholder="Message here *" rows="4" required></textarea>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <input type="submit" class="btn btn-sucess btn-send" value="Send message">
      </div>
    </div>
    <div class="row">
      <div class="cold-md-12">
        <em><strong>*</strong> These fields are required.</em>
      </div>
    </div>
  </form>
</div>
