<div class="af-container-blue">
  <div class="row af-background">
    <div class="col-md-2 vcenter">
      <img class="rounded-circle img-fluid af-photo" src="https://i.imgur.com/tQIRojR.jpg">
      
    </div>
    <div class="col-md-10 vcenter">
      <h1 class="alternative-title-color" id="who-am-i">About</h1>
      <p>
        My name is Alexander Fagrell and I'm a software developer and have several years of experience using modern C++ and Qt. With this blog, I aim to deepen my knowledge by exploring the ins and outs of the Qt framework and to share my findings and conclusions.
        I encourage you to engage in the comment system and <span class="alternative-title-color">contribute by sharing your experience, knowledge and thoughts.</span> Perhaps something was unclear?
      </p>
      <p>
        In addition to software development, I enjoy coaching and mentoring people, excercising at the gym and as well as travelling. I'm from Stockholm, Sweden, but live and work in London, UK, for a security company as a lead software developer. 
      </p>
      <div class="af-icons text-right">
        <div class="text-muted text-handwritten" style="font-size: 30px; margin-right: 20px">
            <a class="text-muted" [routerLink]="" (click)="doScroll('contact-me', 0)">Contact me<img src="../../../assets/images/arrow.svg" style="width: 40px; margin-top: 20px; margin-left: 10px;"></a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="af-container-white">
  <h1 class="text-center main-title-color" id="what-is-qt">What is Qt?</h1>
  <p>
    Qt is a collection of many C++ libraries and tools which drastically reduce the complexity of creating applications (especially GUI applications) on a range of different platforms. Supported platforms include Linux, macOS, Windows, VxWorks, QNX, Android, iOS, BlackBerry, and Sailfish OS among others. 
    Not only is Qt very impressive for its GUI toolkit, but it also excels in other areas for cross-platform development such as networking, databases, OpenGL etc.
  </p>
  <p>
    In addition to C++, Qt includes an amazing extension language called QML. QML is part of Qt Quick, and is a declarative object description language to create dynamic and fluid UIs on mobile, embedded and desktop systems. QML also integrates JavaScript applications which enables developers to write applications in QML alone. However, the preferred approach is to use QML for the frontend and C++ for the backend.
    
  </p>
  'What is Qt' on <a href="https://www.qt.io">qt.io</a>:
  <markdown>
    >Qt is much more than just a cross-platform SDK - it's a technology strategy that lets you quickly and cost-effectively design, develop, deploy, and maintain software while delivering a seamless user experience across all devices.
  </markdown>
  
  <p class="text-center alternative-title-color">
    For more information have a look at the about page on <a href="https://wiki.qt.io/About_Qt">Qt's wiki</a> 
  </p>



  <hr class="af-separator">

  <h1 class="text-center main-title-color" id="what-is-clean">What is Clean Code?</h1>
  I first read about clean code in the book "Clean Code: A Handbook of Agile Software Craftsmanship" by Robert C. Martin (aka Uncle Bob). 
</div>
