.blog {
  margin-top: 30px;
  margin-bottom: 30px;
}

.blog-separator {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.blog-header-bottom-spacing {
  margin-bottom: 10px;
}