<div class="af-separator"></div>
<div class="af-container-blue">
  <h1 class="text-center">Blog</h1>
  <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
</div>

<div class="af-container-white af-max-height">
  Blog goes here...
</div>

<div class="af-container-blue">
    <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>