<div class="af-container-blue">
  <div>
    <h1 class="text-center">{{ title }}</h1>
  </div>
  <div class="alternative-title-color text-right">
    <strong>{{ createdBy }}</strong>&nbsp;&nbsp;<span class="text-muted">{{ createdAt | date: 'dd MMM, yyyy' }}</span>
  </div>
  <div class="text-right">
    <span *ngFor="let tag of tags">
      <span class="badge badge-primary">{{ tag }}</span>&nbsp;
    </span>
  </div>
</div>

<div class="af-container-white">
  <p><markdown [data] = "body"></markdown></p>
  <div class="text-right">
    <share-buttons [theme]="'default'"
    [include]="['facebook','twitter','google','linkedin','reddit','tumblr','whatsapp','messenger','xing']"
    [show]="4"
    [showCount]="true"
    [url]="href"
    [autoSetMeta]="false"
    ></share-buttons>
  </div>
  <hr class="af-separator">
  <disqus [identifier]="href"></disqus>
</div>