.shadow {
  box-shadow: 0px 0px 40px rgb(8, 41, 70);
}

.navbar-custom {
  background-color: rgb(243, 243, 243);
}

.navbar-custom .navbar-nav .nav-link {
  border-bottom: rgb(243, 243, 243) solid 5px;
  padding: 1rem 0.4rem 0rem;
  margin: 0em 0.5em 0em;
  
}

.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
  transition: border-bottom 0.5s ease;
  border-bottom: rgb(8, 41, 70) solid 5px;
  color: rgb(8, 41, 70);
  padding: 1rem 0.4rem 0rem;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;

   
}