<div class="af-container-blue">
    <div class="row">
      <div class="col-md-6">
        <h3>Latest blog posts</h3>
        asdf<br/>
        asdf<br/>
        asdf<br/>
      </div>
      <div class="col-md-6">
        <div class="af-icons text-right">
          <div class="text-muted text-handwritten" style="font-size: 30px; margin-right: 220px" id="contact-me">
            Contact me<img src="../../../assets/images/arrow.svg" style="width: 40px; margin-top: 20px; margin-left: 10px;">
          </div>
          <a href="https://twitter.com/AFagrell" class="fa fa-twitter" target="_blank"></a>
          <a href="https://www.linkedin.com/in/alexander-fagrell/" class="fa fa-linkedin" target="_blank"></a>
          <a href="https://github.com/Fagrell" class="fa fa-github" target="_blank"></a>
          <a href="https://stackoverflow.com/users/5874704/a-fagrell/" class="fa fa-stack-overflow" target="_blank"></a>
        </div>
      </div>
    </div>
  </div>