<div class="af-container-blue">
    <h1 class="text-center">Login</h1>
  </div>
  
  <div class="af-container-white">
    <form [formGroup]="form" (submit)="onLoginSubmit()">
  
      <!-- Message if failed to login -->
      <div class="row show-hide-message">
        <div class="col-md-12" [ngClass]="errorMessageClass">
          {{ errorMessage }}
        </div>
      </div>
  
      <div class="row">

        <!-- Username -->
        <div class="col-md-12 form-group" [ngClass]="{'was-validated': !form.controls.username.errors }">
          <label class="col-form-label" for="username">Username</label>
          <input type="text" name="username" class="form-control" placeholder="Please enter your username" formControlName="username" [ngClass]="{'is-invalid': form.controls.username.touched}">
          <ul *ngIf="form.controls.username.errors" class="invalid-feedback">
            <li *ngIf="form.controls.username.errors?.required && form.controls.username.dirty">This field is required</li>
          </ul>
        </div>     
      </div>
      
      <div class="row">
  
        <!-- Password -->
        <div class="col-md-12 form-group" [ngClass]="{'was-validated': !form.controls.password.errors }">
          <label class="col-form-label" for="password">Password</label>
          <input type="password" name="password" class="form-control" placeholder="Please enter your password" formControlName="password" [ngClass]="{'is-invalid': form.controls.password.touched}">
          <ul *ngIf="form.controls.password.errors" class="invalid-feedback">
            <li *ngIf="form.controls.password.errors?.required && form.controls.password.dirty">This field is required</li>
          </ul>
        </div>

      </div>
      <div class="row">
        <div class="col-md-12">
          <input [disabled]="!form.valid || submitProcessing" type="submit" class="btn btn-primary btn-send" value="Send message">
        </div>
      </div>
    </form>
  </div>