<div class="af-container-blue">
  <h1 class="text-center">Create/Edit Blog</h1>
</div>

<div class="af-container-white">

  <!-- Message if saved or error -->
  <div class="row show-hide-message">
    <div class="col-md-12" [ngClass]="errorMessageClass">
      {{ errorMessage }}
    </div>
  </div>
  
  <form [formGroup]="form" (submit)="onSaveSubmit()">
    <div class="row">
      <div class="col-md-12">
        <input type="text" class="form-control" placeholder="Write title here"  name="title" id="title" formControlName="title">       
      </div>
    </div>
    <div class="card" style="margin-top: 10px; margin-bottom: 40px;">
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item">
            <button type="button" class="nav-link" [ngClass]="{'active': editing }" (click)="onEditClicked()">Edit</button>
          </li>
          <li class="nav-item">
            <button type="button" class="nav-link" [ngClass]="{'active': !editing }" (click)="onPreviewClicked()">Preview</button>
          </li>
        </ul>
      </div>
      <div class="card-body" style="padding: 2px;">
        <div *ngIf="editing">
          <textarea class="form-control" name="summaryMessage" placeholder="Summary goes here" id="summaryMessage" spellcheck="true" rows="5" formControlName="summaryMessage"></textarea>
        </div>
        <p *ngIf="!editing">
          <markdown [data]="form.controls.summaryMessage.value"></markdown>
        </p>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item">
            <button type="button" class="nav-link" [ngClass]="{'active': editing }" (click)="onEditClicked()">Edit</button>
          </li>
          <li class="nav-item">
            <button type="button" class="nav-link" [ngClass]="{'active': !editing }" (click)="onPreviewClicked()">Preview</button>
          </li>
        </ul>
      </div>
      <div class="card-body" style="padding: 2px;">
        <div *ngIf="editing">
          <!-- <div class="form-group"> -->
            <textarea class="form-control" name="blogMessage" id="blogMessage" rows="20" spellcheck="true" formControlName="blogMessage"></textarea>
          <!-- </div> -->
        </div>
        <p *ngIf="!editing">
          <markdown [data]="form.controls.blogMessage.value"></markdown>
        </p>
      </div>
    </div>
    <div class="row" style="margin-top: 10px;">
      <div class="col-md-1">
        <div class="form-check" style="margin-top: 5px;">
          <input class="form-check-input form-control" type="checkbox" value="" name="publicCheckBox" id="publicCheckBox" formControlName="publicCheckBox">
          <label class="form-check-label" for="publicCheckBox">Public</label>
        </div>
      </div>
      <div class="col-md-11">
        <input type="text" class="form-control" placeholder="Enter comma separated tags"  name="tagsList" id="tagsList" formControlName="tagsList">       
      </div>
    </div>
    <div class="text-right" style="margin-top: 10px;">
      <input [disabled]="!form.valid || submitProcessing" type="submit" class="btn btn-primary btn-send" value="Save">
    </div>
  </form>
</div>