<div class="af-container-blue">
  <div>
    <h1 class="text-center">{{ title }}</h1>
  </div>
  <div class="alternative-title-color text-right">
    <strong>{{ createdBy }}</strong>&nbsp;&nbsp;<span class="text-muted">{{ createdAt | date: 'dd MMM, yyyy' }}</span>
  </div>
  <div class="text-right">
    <span *ngFor="let tag of tags">
      <span class="badge badge-primary">{{ tag }}</span>&nbsp;
    </span>
  </div>
</div>

<div class="af-container-white">
  <p><markdown [data] = "body"></markdown></p>

  <div class="row">
    <div class="col-md-6">
        <div class="text-muted text-handwritten" style="font-size: 30px;">
          Subscribe to feed
        </div>
        <h5 class="text-muted font-italic" style="margin-top: 10px"><a href="https://www.cleanqt.io/feed/rss">RSS</a> - <a href="https://www.cleanqt.io/feed/atom">Atom</a> - <a href="https://www.cleanqt.io/feed/json">JSON</a></h5>
    </div>
    <div class="col-md-6">
        <div class="text-right">
            <div class="text-muted text-handwritten" style="font-size: 30px; margin-right: 20px">
              Share the post
            </div>
            <share-buttons [theme]="'default'"
            [include]="['facebook','twitter','linkedin','reddit','xing']"
            [show]="5"
            [showCount]="true"
            [url]="shareHref"
            [autoSetMeta]="false"
            ></share-buttons>
          </div>
    </div>
  </div>
  <hr class="af-separator">
  <disqus [identifier]="href"></disqus>
</div>
